
{% extends "ERCoreBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }}
{% endblock %}

{% block body %}
<article>
<br/>
  <div class="text-center">
   <h1>Bienvenue !</h1>
      <br/>
        <img  class="homeimg" src="{{ asset('Img/dessin-reveil.png')}}" alt="photo d'accueil du menu">	  
        
		
   </div>
  
   
    
</article>

{% endblock %}
