

{% extends "ERCoreBundle::layout.html.twig" %}

{% block title %}
  Modifier les paramètres du réveil lumineux - {{ parent() }}
{% endblock %}

{% block body %}
<div class="text-center">
  <h1>Modifier les paramètres du réveil lumineux</h1>
</div>
  {{ include("MenuBundle:Menu:formled.html.twig") }}



  
 
{% endblock %}
